html {
  scroll-behavior: smooth;
}
.fon{
	background: #f8f9fb;	
}
	.btn{
		margin:6px;	
	}
.section{
	background:url(images/4.jpg) center center;
	height:100vh;
	background-size:cover;
}
	.jumbotron1{
		background-color: rgba(0,0,0, 0.4);
		margin-top: 140px;
		margin-left: -15px;
		border-radius: 100px;
	}
		.description{
			color:#f8f9fb;	
			font-family: arial;
			font-size: 40px;
			padding-left: 5px;
			padding-right: 5px;
		}
.products{
	margin-top: 20px;
}
	.text1{
		font-size: 40px;	
		font-family:arial;
	}
.tog1{
	margin-top: -15px;
}
.in{
	border: none;
}
.block4, .block5, .block6{
	margin-top: 20px;
}
	.dropdown{
		margin: 0 auto;	
	}
.accordion{
	margin-top: 10px;
}
	.mycard1, .mycard2, .mycard3{
		background: #ffff;	
	}
.avto{
	margin-top: 20px;	
}	
	.text2{
		font-size: 40px;	
		font-family:arial;
		margin-top: 10px;	
	}
.mycard4, .mycard5, .mycard6, .mycard7{
	margin-top: 20px;	
	background: white;
}
.top{
	color: black;	
}
	.top:hover{
		color: black;
		text-decoration: none;	
	}
.block7{
	margin-top: -20px;
	padding-bottom: 20px;
}
.fon1{
	background: #353a40;
}
	.text3{
		font-size: 15px;	
		font-family:'segoe ui';	
		margin-top: 30px;
		color: #f8f9fb;
		margin-top: 30px;
	}
.block9{
	margin-top: -30px;
}
